/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

:root {
	--green: #1d6154;
	--light-blue: #e8f1f6;
	--grey: #cbd6dc;
	--dark-blue: #306685;
	--black: #0e2f28;
}

a {
	text-decoration: none;
	color: black;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

input,
button {
	border: none;
}

button {
	background-color: transparent;
	cursor: pointer;
}

body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
footer {
	width: 100%;
	background-color: white;
}

footer.bottom {
	position: absolute;
	bottom: 0;
	left: 0;
}

body {
	background-color: #fffef8;
	max-width: 1140px;
	margin: auto;
	font-family: "Work Sans";
	font-size: 14px;
}

.all-page {
	height: 100%;
}

header {
	display: flex;
	justify-content: space-between;
	margin: 50px 0 100px 0;
}
section {
	margin: 90px 90px;
}

h1 {
	display: flex;
	flex-direction: column;
	font-family: "Syne";
	font-size: 22px;
	font-weight: 800;
	color: #b1663c;
}

h1 > span {
	margin-top: 0.5rem;
	font-family: "Work Sans";
	font-size: 10px;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

h2 {
	font-family: "Syne";
	font-weight: 700;
	font-size: 30px;
	color: var(--green);
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;
}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}
nav img {
	width: 1.5rem;
}

nav a:hover {
	font-weight: 700;
}

li:hover {
	color: #b1663c;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1.5;
}
figure {
	height: 100%;
	width: 100%;
}
figure img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
#introduction img {
	display: block;
	/* margin: auto; */
	width: 80%;
}

#introduction article {
	flex: 1;
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 1.5em;
}
#portfolio h2 {
	text-align: center;
}
#portfolio .container-button-portfolio {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 50px;
	gap: 1rem;
}

figcaption {
	margin-top: 0.25rem;
}
.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 40px;
}

.gallery img,
.admin-gallery img {
	width: 100%;
	height: 100%;
	aspect-ratio: 1/1.4;
	object-fit: cover;
}

#form-style:not(.modal-content) {
	width: 50%;
	margin: auto;
}
#form-style > * {
	text-align: center;
}
#form-style h2 {
	margin-bottom: 20px;
}
#form-style form {
	text-align: left;
	margin-top: 30px;
	display: flex;
	justify-content: space-around;
	flex-direction: column;
}

#form-style input,
#form-style select,
.button.modal {
	padding: 0 1rem;
	height: 50px;
}

#form-style select {
	border: none;
}
#form-style label:not(.button-file label) {
	margin: 2em 0 1em 0;
}
#form-style textarea {
	border: none;
}

.shadow {
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}

.button {
	font-family: "Syne";
	font-weight: 700;
	color: white;
	background-color: var(--green);
	text-align: center;
	border-radius: 60px;
	font-size: 1.2em;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
	transition: background-color 0.3s ease-in-out;
}
.button:hover {
	background-color: var(--black);
}

input[type="submit"],
.button.modal {
	width: 180px;
	margin: 2em auto;
	cursor: pointer;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	padding: 2em;
}

.list-filter {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
	margin-bottom: 50px;
}

.list-filter button {
	font-family: "Syne";
	font-size: 1.2em;
	color: var(--green);
	font-weight: 700;
	white-space: nowrap;
	padding: 0.7rem 1.5rem;
	border: 2px solid var(--green);
	border-radius: 60px;
	transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
.list-filter button:hover,
.list-filter button.active:hover {
	background-color: var(--black);
	color: white;
	border: 2px solid var(--black);
}
.list-filter button.active {
	color: white;
	background-color: var(--green);
	font-size: 1.2em;
}
.forgot-password {
	text-align: center;
	background-color: transparent;
	text-decoration: underline;
	cursor: pointer;
}

.error-connection {
	display: none;
}
.error-connection.active {
	display: block;
	color: red;
	text-align: center;
}
.edition-mode {
	background-color: black;
	height: 5rem;
	display: flex;
	align-items: center;
	justify-content: center;
}
.edition-mode-button {
	padding: 2rem;
	font-size: 1rem;
}
.edition-mode button {
	color: white;
}

.hidden {
	display: none !important;
}

/* Modal popup */

.modal-content {
	display: flex;
	gap: 2rem;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 700px;
	aspect-ratio: 1/1.4;
	padding: 3rem 5rem;
	overflow-x: hidden;
}
.container-modal {
	border-radius: 10px;
	border: none;
	padding: 0;
	z-index: -1;
	align-items: center;
	justify-content: center;
	overflow-x: hidden;
}
.separator {
	display: flex;
	align-items: center;
	background-color: #b3b3b3;
	height: 2px;
	width: 100%;
	gap: 1rem;
	margin: 1rem 0;
}

.button.modal {
	padding: 0.5rem 0;
	width: 70%;
}
.button.modal.disabled {
	background-color: var(--grey);
}

.title-modal {
	font-size: 2em;
}
.admin-gallery {
	gap: 1rem;
	height: 420px;
	overflow: auto;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
}

.gallery-img {
	width: 100%;
}
.trash {
	display: grid;
	place-items: center;
	margin: 0.5rem;
	position: absolute;
	right: 0;
	height: 2rem;
	aspect-ratio: 1/1;
	background-color: black;
	border-radius: 5px;
	cursor: pointer;
}
.trash-icon {
	color: white;
	font-size: 1.2rem;
}
.close-modal {
	cursor: pointer;
	position: absolute;
	top: -1rem;
	right: -0.75rem;
	font-size: 1.5rem;
	padding: 2rem;
}
.back-modal {
	cursor: pointer;
	position: absolute;
	top: -1rem;
	left: -0.75rem;
	font-size: 1.5rem;
	padding: 2rem;
}
.modal-content figure {
	position: relative;
}

/* Formulaire pour l'ajout de photo */

.modal-content.second form {
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
}
.modal-content.second .button-file {
	position: relative;
	background-color: var(--light-blue);
	height: 200px;
}

.fa-image {
	color: var(--grey);
	font-size: 70px;
}

.button-file span {
	font-family: "Work Sans";
	font-weight: 400;
}
.button-file label {
	background-color: var(--grey);
	color: var(--dark-blue);
	padding: 0.5rem 2rem;
	border-radius: 50px;
	margin: 0px;
}

.button-file .container {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	gap: 10px;
	width: 100%;
	height: 100%;
}

.modal-content.second .separator {
	margin-top: 50px;
}

.modal-content.second #file {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
	width: 100%;
	height: 100%;
}

/* Formulaire pour l'ajout de photo */

.preview-image {
	max-width: 100%;
	height: 100%;
	object-fit: contain;
}
